@model Estacionamento.Dtos.Request.RegistroEstacionametoEdicaoRequest

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card shadow-sm border-0 rounded-3">
				<div class="card-header bg-primary text-white text-center">
					<h4>Editar Veículo</h4>
				</div>
				<div class="card-body bg-light">
					<form asp-action="EditarVeiculo" asp-controller="Estacionamento" method="post" onsubmit="return formatarPlaca()">
						<input type="hidden" asp-for="Id" />

						<div class="form-group mb-3">
							<label for="placa" class="form-label">Placa</label>
							<input type="text" class="form-control" id="placa" name="PlacaCarro" asp-for="PlacaCarro" required maxlength="8" min="8" />
							<span asp-validation-for="PlacaCarro" class="text-danger"></span>


						</div>

						<div class="form-group mb-4">
							<label for="horarioEntrada" class="form-label">Horário de Entrada</label>
							<input type="text" class="form-control" id="horarioEntrada" name="HorarioEntrada" readonly asp-for="HorarioEntrada" />
						</div>

						<div class="d-flex justify-content-between">
							<button type="submit" class="btn btn-primary" id="btn">Salvar Alterações</button>
							<a asp-controller="Estacionamento" asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	document.addEventListener("DOMContentLoaded", function() {
		const placaInput = document.getElementById("placa");
		if (placaInput.value.length >= 3 && !placaInput.value.includes('-')) {
			placaInput.value = placaInput.value.slice(0, 3) + '-' + placaInput.value.slice(3);
		}
	});

	document.getElementById("placa").addEventListener("input", function (e) {
			let valor = e.target.value.toUpperCase().replace(/[^A-Z0-9]/g, '');

			if (valor.length > 3) {
				valor = valor.slice(0, 3) + '-' + valor.slice(3);
			}
			e.target.value = valor.slice(0, 8);

		});


		function formatarPlaca(){
				const placaInput = document.getElementById("placa");
				placaInput.value = placaInput.value.replace("-", "");
				return true;

		}
</script>